version: "3.9"

networks:
  jku_local_net:
    external: true

services:
  mailer_server:
    container_name: mailer_server
    networks:
      - jku_local_net
    env_file:
      - ".env"
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    volumes:
      - ./.env:/mailer/.env
    healthcheck:
      test: [ "CMD-SHELL", "wget -O /dev/null app_server || exit 1" ]
      timeout: 5s